.welcome_message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    color: #333; 
    font-family: Arial, sans-serif; 
  }
  
  .welcome_message h1 {
    font-size: 16px; 
    margin: 0; 
    text-align: center; 
    border: 2px solid #007bff; 
    border-radius: 10px; 
    background-color: #fff; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }